@font-face {
    font-family: "Avenir";
    src: url("fonts/AvenirLTStd-Book.otf");
}

body {
    font-family: "Avenir";
    display: grid;
    grid-template-columns: 7fr 4fr;
    margin: 0;
}

select {
    color: #979797;
    font-family: "Avenir";
    flex: 1;
    outline: none;
}

label {
    margin-bottom: 5px;
}

.leftPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 50px;
}

.basicInfoField {
    display: grid;
    grid-template-areas: "name name"
                         "email password "
                         "age age";
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
}

.basicInfoInput, select {
    height: 35px;
}

.top h2 {
    margin-bottom: 30px;
}

.fullnameField {
    grid-area: name;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.emailField {
    grid-area: email;
    display: flex;
    flex-direction: column;
}

.passwordField {
    grid-area: password;
    display: flex;
    flex-direction: column;
}

.ageField {
    grid-area: age;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;
}

textarea {
    width: calc(100% - 11px); 
    max-width: 100%;
    padding-right: 0;
    margin: 0;
    padding: 10px 0 10px 10px;
    background-color: #E2E5ED;
    border: 1px solid #E2E5ED;
    border-radius: 8px;
    font-family: "Avenir";
    margin-top: 5px;
    outline: none;
}

textarea:focus {
    border-color: hsl(120, 76%, 50%);
}

h5 {
    visibility: hidden;
    margin: 0;
    padding-top: 8px;
}

h1 {
    margin-bottom: 30px;
}

input, select {
    background-color: #E2E5ED;
    border: 1px solid #E2E5ED;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 5px;
    outline: none;
}

input:hover, textarea:hover {
    border: 1px solid #128DBA;
}

input[type = "text"]:focus, input[type = "email"]:focus, input[type = "password"]:focus, textarea:focus{
    transition: all .2s ease-in;
    box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
}

input[type = "email"]:not(:placeholder-shown):invalid, 
input[type = "password"]:not(:placeholder-shown):invalid {
    border-color: hsl(0, 76%, 50%);
}

input[type = "email"]:not(:placeholder-shown):valid, 
input[type = "password"]:not(:placeholder-shown):valid, 
input[type = "text"]:not(:placeholder-shown):valid {
    border-color: hsl(120, 76%, 50%);
}

input:placeholder-shown + .warningMsg {
    color: red;
}

input:placeholder-shown + .showRequired {
    color: red;
    visibility: visible;
}

input::-webkit-input-placeholder {
    font-family: "Avenir";
}

.locationField {
    display: flex;
    flex-direction: column;
}

.selectWrap {
    display: flex;
    padding-right: 10px;
    background-color: #E2E5ED;
    border: 1px solid #E2E5ED;
    border-radius: 8px;
}

.selectWrap:hover {
    border: 1px solid #128DBA;
}

.equipField {
    border: none;
    padding: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.equipField h4{
    margin-bottom: 5px;
    margin-top: 0;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bottom h2 {
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: relative;
}

.buttons input {
    flex: 1;
    height: 35px;
}

#submitButton {
    background-color: #149770;
    color: #FFFFFF;
    font-family: "Avenir";
    font-size: 18px;
    border: 1px #149770;
    transition: all .1s ease-in;
    right: 0;
    bottom: 0;
    position: relative;
}

#submitButton:hover {
    background-color: #128DBA;
    right: 3px;
    bottom: 3px;
    box-shadow: 5px 5px 5px rgba(33,33,33,.5);
}

#resetButton {
    background-color: #FFFFFF;
    border: 1px solid black;
    font-family: "Avenir";
    font-size: 18px;
    transition: all .1s ease-in;
    position: relative;
    right: 0;
    bottom: 0;
}

#resetButton:hover {
    background-color: black;
    color: #FFFFFF;
    right: 3px;
    bottom: 3px;
    box-shadow: 5px 5px 5px rgba(33,33,33,.5);
}

.rightPage {
    display: flex;
    justify-content: center;
    background-image: url(./image/ski.jpg);
    background-position: center;
    background-size: auto 100%;
    height: auto;
    position: relative;
    min-width: 200px;
}

.rightPage h1{
    position: absolute;
    top: 15%;
    color: #FFFFFF;
    padding: 0 20px;
    text-shadow: 5px 5px 5px #000000;
}

.required::after {
    content: " *";
    color: red;
}